@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Raleway-Light', sans-serif;
    src: url('../fonts/Raleway/Raleway-Light.ttf');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.upper-navbar {
  background: #111;
}


.media {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  padding: 0.3rem;
}

.media-item {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  color: #eee;
  align-items: baseline;
}

.media-item i {
  font-size: 1.5rem;
}
.media-item span {
  margin-left: 0.3rem;

}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.navbar .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 3rem 2rem 0.5rem;
  background: #c0392b;
  color: #fff;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: #222;
}

.navbar-nav { /*menu*/
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-weight: 400;
  padding-bottom: 1rem;
}

.nav-item {
  text-align: center;
  padding: 0 0.5rem;
  align-self: flex-end;
}

.nav-item a {
  display: block;
}

.navbar-brand {
  display: flex;
  text-align: center;
}

.logo {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  align-self: flex-end;
}


.topo {
  background: url('gym.jpg') no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-size: 2rem;

}

.topo .content {
  padding-top: 15rem;
  padding-left: 3rem;

}


.middle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 10%;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top:4rem;
  margin: 1rem auto;
  font-family: 'Roboto', sans-serif !important;
}

.plans .container {
  margin: 5rem 2% 0;
}

.round {
  background: #c0392b;
  border-radius: 50%;
  margin: -5rem auto 2rem;
  padding: 0.5rem;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  color : #fff;
}

.inner {
  font-size: 35px;
}

.plan {
  display: inline-block;
  padding: 1rem;
  background: #f1f1f1;
  text-align: center;
  margin: auto;
  line-height: 2rem;
}

.plan h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.round-button {
  width: 100%;
  margin-top: 2rem;
  background: #c0392b;
  color: #fff;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
}

.reset-button {
  font: inherit;
  overflow: inherit;
}

.navbar-bottom {
  display: flex;
  justify-content: center;
  background: #111;
  color: #fff;
  padding: 2rem;
}

.copyright {
  text-align: center;
  margin: auto;
}

@media (max-width: 500px) {
  .topo {
    background: url('gym.jpg') no-repeat top center;
    background-size: cover;
    background-position: 45%;
    background-attachment: scroll;
    margin-top: 0px;
  }
  .topo .content {

    font-size: 1rem;
    padding-top:15rem;
    padding-left:2rem;
  }

  .navbar-nav {
    display: none;
  }

  .navbar {
    text-align: center;
  }

  .media {
    /* display: none; */
    padding: 0;
  }
}
